.secondary-text{
	text-align: justify;
}
:root{
	--main: #36a8ff;
	--another: #2f4053;
}
::selection{
	background: var(--main);
	color: var(--another);
}
.term-of-use--content > p{
	text-align: justify;
}
.term-of-use--content > span{
	color: var(--main);
	font-weight: bold;
}
nav > a:hover{
	border-bottom: 2px solid var(--main);
}